
.heading_div{
    /* background-color: red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    cursor: pointer;
   
}
/* .slider_div{
  

} */
.slider_div div{
    padding-right: 50px;
    padding-left: 50px;   
}


.main_slider img{
    height: 600px;
}

.loading_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 500px;
}

.featurette{
    cursor: pointer;
}