.login_mian{
    margin: auto;
    margin-top: 120px;
    margin-bottom: 100px;
    padding: 20px;
    /* background-color: red; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}